main {
    max-width: 200;
    margin: auto;
}

body {
    background-image: url("nibiru-the-primal-being.gif");
    background-size: auto;
    font-weight: bold;
    text-align: center;
    font-family: fantasy;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: orange;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: green;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: green;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: fantasy;
}

#increment-btn {
    background: orange;
}

#save-btn {
    background: orange;
}

#nib {
    background-image: red;
}

#nib:hover {
    background-image: url("nibiru-the-primal-being.gif");
    background-size: cover;
}
